.App {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: #594668;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header-bar {
  list-style: none;
  display: flex;
  justify-content: right;
  padding: 20px 20px 0 0;
  margin: 0;
  width: max-width;
}

.app-header-bar li {
  padding: 0 10px 0 10px;
}

#timer-text {
  padding: 3px 0 20px 0;
}

.Timer-background {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Timer-button {
  border: none;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  color: #292D34;
}

.Mode-selection {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

.Mode-selection li {
  margin: 5px;
}

.default-button {
  border: none;
  width: 120px;
  height: 35px;
  font-size: 16px;
  border-radius: 10px;
  font-weight: bold;
  color: #292D34;
}

#pomodoro-count {
  font-size: 18px;
  color: #bebebe;
  font-weight: normal;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
